.settings/org.maven.ide.eclipse.prefs
common/target
dist/target
jboss/server/default/data/apacheds-store
jboss/server/default/data/hypersonic
jboss/server/default/data/nfs-paths.db
jboss/server/default/data/nfs/home/*
jboss/server/default/data/nfs/root/deploy/*
jboss/server/default/data/nfs/root/log
jboss/server/default/data/nfs/root/schema/application
jboss/server/default/data/nfs/root/schema/device
jboss/server/default/data/nfs/root/schema/device/printserver.xml
jboss/server/default/data/nfs/root/schema/printer
jboss/server/default/data/nfs/root/sfs/*.sfs
jboss/server/default/data/nfs/root/sfs/module/*.sfs
jboss/server/default/data/nfs/root/sfs/package/*.sfs
jboss/server/default/data/nfs/root/tftp/*
jboss/server/default/data/nfs/root/var
jboss/server/default/data/tx-object-store
jboss/server/default/log/*
jboss/server/default/tmp
jboss/server/default/work
manager/application-ear/target
manager/console/build
manager/console/dist
manager/console/target
manager/nb-bootstrap/target
manager/netbeans-core-startup/target
manager/org-openide-util/target
manager/target
server/apacheds-protocol-dhcp/target
server/apacheds-server-jndi/target
server/apacheds-server-sar/target
server/apacheds-server-tools/target
server/dhcp-sar/target
server/nfs-sar/target
server/nfs-service/target
server/package-manager/target
server/remoted-ejb/target
server/servlet/target
server/shared/target
server/syslog-sar/target
server/target
server/tftp-sar/target
server/tftp-service/target
/target
/tmp
/workspace
/common/unit-test-tmp/

# eclipse project files
.project
.classpath
/.metadata**
.settings
**/target/**

# IntelliJ Project files
*.iml
