.settings/org.maven.ide.eclipse.prefs
common/target
dist/target
manager-home/apacheds-store
jboss/server/default/data/hypersonic
jboss/server/default/data/nfs-paths.db
jboss/server/default/data/nfs/home/*
jboss/server/default/data/nfs/root/deploy/*
jboss/server/default/data/nfs/root/log
jboss/server/default/data/nfs/root/schema/application
jboss/server/default/data/nfs/root/schema/device
jboss/server/default/data/nfs/root/schema/device/printserver.xml
jboss/server/default/data/nfs/root/schema/printer
jboss/server/default/data/nfs/root/sfs/*.sfs
jboss/server/default/data/nfs/root/sfs/module/*.sfs
jboss/server/default/data/nfs/root/sfs/package/*.sfs
jboss/server/default/data/nfs/root/tftp/*
jboss/server/default/data/nfs/root/var
jboss/server/default/data/tx-object-store
jboss/server/default/log/*
jboss/server/default/tmp
jboss/server/default/work
manager/application-ear/target
manager/console/build
manager/console/dist
manager/console/target
manager/nb-bootstrap/target
manager/netbeans-core-startup/target
manager/org-openide-util/target
manager/target
server/apacheds-protocol-dhcp/target
server/apacheds-server-jndi/target
server/apacheds-server-sar/target
server/apacheds-server-tools/target
server/dhcp-sar/target
server/nfs-sar/target
server/nfs-service/target
server/package-manager/target
server/remoted-ejb/target
server/servlet/target
server/shared/target
server/syslog-sar/target
server/target
server/tftp-sar/target
server/tftp-service/target
/target
/tmp
/workspace
/common/unit-test-tmp/

### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


### Eclipse template
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.classpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse


### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties


### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


