common/target
jboss/server/default/data/hypersonic
jboss/server/default/tmp
jboss/server/default/work
manager/console/TCATConsole/build
manager/console/apacheds-server-tools/build
manager/console/binding/build
manager/console/build
manager/console/castor/build
manager/console/common/build
manager/console/commons-collections/build
manager/console/commons-logging/build
manager/console/commons-primitives/build
manager/console/ehcache/build
manager/console/forms/build
manager/console/jboss-aop/build
manager/console/jboss-aspects/build
manager/console/jboss-client/build
manager/console/jboss-ejb3/build
manager/console/levigo-utils/build
manager/console/log4j/build
manager/console/pkgmgr/build
manager/console/pkgmgr/release/modules/ext/pkgmgr.jar
manager/console/shared-asn1/build
manager/console/shared-ldap/build
manager/console/spring-beans/build
manager/console/spring-context/build
manager/console/spring-core/build
manager/console/swingx/build
manager/console/validation/build
manager/console/xercesImpl/build
server/package-manager/target
server/servlet/target
/target
/tmp
