@import "../valo/valo";
@import "common";
@import "thinclients";
@import "views/login";
@import "views/dashboardview";

// Main layout padding
$view-padding: round($v-unit-size / 1.5) !default;

// Slight adjustment to menu background-color
$valo-menu-background-color: #414B56;

// focus outline/border for focusable elements
$v-focus-style: none;

@mixin dashboard {
  @include valo;
  @include dashboard-common;
  @include thinclients-view;
  @include dashboard-login-view;
  @include dashboard-dashboard-view;
}
