
//item menu background-color
$item-menu-background-color: rgb(231,239,245);
$item-menu-background-color-focused: rgb(98,156,198);

$item-group-panel-margin-left: 10px;

@mixin thinclients-view {

    .v-splitpanel-horizontal {
        // padding-left:-10px;
    }

    .v-splitpanel-first-container {
        align: center;
    }

    .profilePanel {
        margin-left: 20px;
        margin-top: 20px;
        // width: calc(100% - 40px);
        // margin-right: -40px;
    }

      // thinclients-ui
      .v-label-propertyLabel {
        min-width: 300px;
      }

      .v-slot-property-0, .v-horizontallayout-property-1{
        margin-left: 15px;
      }
      .v-slot-property-2  {
        margin-left: 40px;
      }
      .v-slot-property-3  {
        margin-left: 65px;
      }
      .v-slot-property-4  {
        margin-left: 90px;
      }

      .v-label-propertyGroupLabel-0, .v-label-propertyGroupLabel-1  {
        margin-left: 15px;
        font-weight: bold;
      }
      .v-label-propertyGroupLabel-2  {
        margin-left: 40px;
        font-weight: bold;
      }
      .v-label-propertyGroupLabel-3  {
        margin-left: 65px;
        font-weight: bold;
      }
      .v-label-propertyGroupLabel-4  {
        margin-left: 90px;
        font-weight: bold;
      }

      // panel header
      .v-panel-caption {
        color: #539DC7;
        background-color: #DFECF2;
        background-image: none;
        font-size: 18px;
      }
      .v-panel-caption-formPanel_Application span {
        background: url("img/application_blue.png") no-repeat;
        display: block;
        padding-left: 40px;
      }

      // panel action
      .v-horizontallayout-actionBar {
        float: right;
        margin-right: 50px;
        margin-top: -50px;
      }
      .v-nativebutton-profile_save {
        color: white;
        background-color: #9ACA40;
        border: none;
        height: 35px;
        text-align: center;
        width: 80px;
      }
      .v-nativebutton-profile_reset {
        color: white;
        background-color: #cccccc;
        border: none;
        height: 35px;
        text-align: center;
        width: 80px;
      }

      .v-slot-itemGroupInfoLabel {
          display: flex;
          margin-bottom: -15px;
      }
      .v-caption-itemGroupInfoLabel {
          padding-left: 15px;
          background-image: none;

      }
      .v-caption-form_success > span {
        color: #9ACA40;
      }
      .v-caption-form_error > span {
        color: red;
      }


    // tc-list grid
    .profileItemSelectionBar {
        background-color: $item-menu-background-color;
        width:100px;
    }

    .profileItemFilter {
        margin-top: 100px;
        margin-left: 10px;
        width: calc(100% - 25px);
    }

    .profileSelectionGrid {

        background-color: $item-menu-background-color;
        color: $item-menu-background-color-focused;
        font-weight: 400;

        .v-grid {
            background-color: unset;
        }

        .v-grid-tablewrapper {
            border: unset;
        }

        .v-grid-row.v-grid-row-stripe {
            background-color: $item-menu-background-color;
        }
        .v-grid-row-stripe > td {
            background-color: $item-menu-background-color;
        }

        .v-grid-row > td, .v-grid-row > th {
            background-color: $item-menu-background-color;
        }
        .v-grid-row-focused > td {

        }
        .v-grid-row-selected > td {
            background: unset;
        }
        .v-grid-row-selected > .v-grid-cell {
             color: $item-menu-background-color;
             background-color: $item-menu-background-color-focused;
             background-image: none;
             border-color: #d4d4d4;
        }
        .v-grid-row-selected > .v-grid-cell-focused::before{
            background-color: unset;
            background-image: none;
        }


        .v-grid-cell-focused {
            color: $item-menu-background-color-focused;
        }
        .v-grid-cell-focused::before {
            border: none;
            background-color: unset;
            color: $item-menu-background-color-focused;
        }

    }

    // itemgroup panel
    .v-slot-itemGroupPanel {
        margin-top: 10px;
        background-color: $item-menu-background-color;
        border-bottom: 1px solid #d5d5d5;

        .headButton {
            color: $item-menu-background-color-focused;
            background-color: white;
            border: 0;

            .selected {
                font-weight: 400;
            }
        }

        .v-slot-profileItemCheckbox {
            padding-left: $item-group-panel-margin-left;
        }

        .v-slot-profileItemTextfield {
            padding-left: $item-group-panel-margin-left;
            width: 185px;
        }

        .v-slot-profileItemSelect {
            padding-left: $item-group-panel-margin-left;

            .v-select-select {
                width: 150px;
            }
        }

        .v-filterselect-input, .v-filterselect-no-input {
            background-image: none;
        }

        .v-button-borderless-colored {
            padding-top: 5px;
        }

        .v-label-propertyInformationLabel {
            padding-top: 5px;
        }

        // reference component
        .v-label-referenceLabel {
          padding-left: 10px;
          font-weight: bold;
          color: $item-menu-background-color-focused;
        }

        .v-slot-referenceLine {
          margin-left: 10px;
          margin-right: 10px;
          padding: 2px;
          background-color: white;

            .v-button-referenceItemDisabledButton {
                background-color: red;
            }
            .v-button-referenceItemIconButton {
                background-color: green;
            }
        }

    }
}
