@mixin filebrowser-view {

  .filebrowser {
    .control-bar {
      display: flex;
      margin: 1ex 0;
      gap: .5ch;
    }

    .location {
      flex: 1;
      overflow: scroll;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-overflow: ellipsis ellipsis;
      margin-left: .5ch;
      font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
          "Lucida Sans Typewriter", "DejaVu Sans Mono",
          "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
          Monaco, "Courier New", Courier, monospace;
      font-weight: 300;
      color: #999;
      cursor: copy;
      transition: color .3s ease-out;

      &:hover {
        color: inherit;
      }
    }

    // darker treegrid headers
    .v-treegrid-header .v-treegrid-cell {
      background: #2b2e33;
      color: white;
    }

    // disable ugly stripes in treegrid
    .v-treegrid-row-stripe:not(.v-treegrid-row-selected) > td {
      background: $v-grid-row-background-color;
    }
  }
}
