@mixin packages-view {

  .v-panel-package-manager {
    padding-top: 5px !important;
    padding-left: 15px;
  }

  .package-manager {
    .v-tabsheet {
      // workaround for Vaadins shoddy geometry calculation
      width: calc(100% - 18px) !important;
      height: calc(100% - 36px) !important;
    }

    .v-tabsheet-tabcontainer {
      table, tbody, tr {
        width: 100%;
      }

      .v-tabsheet-tabitemcell-repositories {
        float: right;

        .v-caption::before {
          content: "\e764";
          font-family: Vaadin-Icons;
        }
      }
    }

    // darker grid headers
    .v-grid-header .v-grid-cell {
      background: black;
      color: white;
    }

    // disable ugly stripes in grid
    .v-grid-row-stripe:not(.v-grid-row-selected) > td {
      background: $v-grid-row-background-color;
    }

    // keep dateils button readable after selection
    .v-grid-row-selected .details-button {
      color: white;
    }
  }

  .v-panel-sources {
    padding-top: 5px !important;
    padding-left: 15px;
  }
}
