@mixin packages-view {

  .v-panel-package-manager {
    padding-top: 5px !important;
    padding-left: 15px;
  }

  .package-manager {
    .v-tabsheet {
      // workaround for Vaadins shoddy geometry calculation
      width: calc(100% - 18px) !important;
      height: calc(100% - 36px) !important;
    }

    .v-tabsheet-tabcontainer {
      table, tbody, tr {
        width: 100%;
      }

      .v-tabsheet-tabitemcell-repositories {
        float: right;

        .v-caption::before {
          content: "\e764";
          font-family: Vaadin-Icons;
        }
      }
    }

    // darker grid headers w/o column borders
    .v-grid-header .v-grid-cell {
      border-left: none;
      border-right: none;
      background: #2b2e33;
      color: white;
    }

    // disable ugly stripes in grid
    .v-grid-row-stripe:not(.v-grid-row-selected) > td {
      background: $v-grid-row-background-color;
    }

    // keep details button readable after selection
    .v-grid-row-selected .details-button {
      color: white;
    }

    // disable column borders
    .v-grid-cell {
      border-left: none;
      border-right: none;
      box-shadow: none;
    }

    // add vertical borders to row
    .v-grid-body .v-grid-row {
      border: 1px solid #eee;
      user-select: none;
    }

    // don't show blue focus border
    .v-grid-cell-focused::before {
      border-color: transparent;
    }
  }

  .v-panel-sources {
    padding-top: 5px !important;
    padding-left: 15px;
  }
}
