$item-menu-background-color: #fff;
$item-menu-background-color-focused: #00649f;

$info-popup-color: #1ca6e7;
$error-popup-color: #d80100;

$cancel-button-color: #fe4101;
$ok-button-color: #2db200;

@mixin thinclients-view {
  .v-label-emptyScreenHint {
      color: #717479;
      font-size: $v-font-size;
      margin-left: 100px;
      margin-top: 100px;
  }

  .v-label-errorScreenHint {
    color: firebrick;
    font-size: $v-font-size;
    margin-left: 75px;
    margin-top: 75px;
  }

  .v-tooltip .v-errormessage-error {
    padding: .33em 1em;
    background: $error-popup-color;
    color: #fff;
  }

  .item-view.client_view {
    --section-color: #1ca6e7;
  }
  .item-view.application_view {
    --section-color: #8500b3;
  }
  .item-view.user_view {
    --section-color: #00b2b2;
  }
  .item-view.device_view {
    --section-color: #ff5d26;
  }
  .item-view.printer_view {
    --section-color: #8c4600;
  }
  .item-view.hardwaretype_view {
    --section-color: #fe2725;
  }
  .item-view.location_view {
    --section-color: #ffff00;
  }

  .item-view {
    --section-color: #1ca6e7;

    border: none;

    .maincontent {
      display: flex;
      flex-flow: column nowrap;
      height: 100%;

      & > *:not(:last-child) {
        margin: 0 2ch 2ch 0;
      }
    }

    .v-panel-content-item-view {
      padding: 18px;
      overflow: hidden;
    }

    // ignore wrapper of "complex" widgets
    .v-has-caption {
      display: contents;
    }

    .profile {
      display: flex;

      .profile-settings {
        flex: 1;
      }

       // profile references panel
      .profile-references {
        flex: 0 0 300px;
        max-width: 300px;
        margin-left: 1em;
      }
    }

    // panel headers
    .references-caption {
      width: 100%;
    }

    .profiles-overview .overviewPanel .caption,
    .settings-caption,
    .references-caption > * {
      position: relative;
      display: flex;
      --min-height: calc(1.8em + 8px);
      min-height: var(--min-height);
      padding: 0 1ch 0 20px;
      align-items: center;
      background: #2b2e33;
      color: #fff;
      font-size: $v-font-size-headline;
      line-height: 1;
      font-weight: normal;


      & > :first-child {
        flex: 1;
      }

      .settings-title {
        display: flex;
        flex-flow: column nowrap;
        padding: 4px;

        :nth-child(2) {
          font-size: .66em;
          line-height: 1.2;
          font-weight: 300;
          text-shadow: 0 0 0 #fff;
        }
      }

      .v-button {
        text-shadow: 0 0 0 #fff;
      }

      .panelButtons {
        display: contents;
      }

      .v-button-borderless-colored {
          color: #fff;
      }
    }

    .profilePanel {
      display: flex;
      flex-flow: column nowrap;
      height: 100%;

      .context-info-button {
        display: flex;
        justify-content: center;

        color: silver;
        font-size: 14px;
        font-family: Vaadin-Icons;

        &::after {
          position: static;
          content: "\e71c";
        }

        &:hover {
          color: $info-popup-color;
        }

        &.active::after {
          content: "\e810";
          color: $info-popup-color;
        }
      }

      .settings-caption .context-info-button {
        margin-right: -1ch;
      }

      .context-info-label {
        visibility: hidden;
        position: absolute;
        top: calc(50% + 1em);
        right: 3px;
        z-index: 1;
        min-width: 25ch;
        max-width: 45ch;
        height: auto;
        padding: .33em 35px .33em 20px;
        outline: none;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        background: $info-popup-color;
        color: #fff;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);

        .kblink {
          display: block;
          &:hover {
            text-decoration: none;
          }
          &::before {
            content: "\e7de";
            font-family: Vaadin-Icons;
            margin-right: 1ch;
          }
          &:not(:first-child) {
            margin-top: 1ex;
          }
        }

        * {
          margin: 0;
          padding: 0;
        }
      }

      .settings-caption .context-info-label {
        right: 7px;
      }

      // info toggle "logic"
      .context-info-button.active + .context-info-label {
        visibility: visible;
      }

      .panelRows {
        flex: 1;
        overflow: auto;
        border: 1px solid silver;
        border-width: 0 1px;

        // workaround for unnecessary x-scrollbar
        & > .v-slot {
          width: calc(100% - 1px);
        }

        // remove required and error markers
        .v-caption {
          display: none;
        }
      }

      // error popup (is being duplicated and shown by Vaadin)
      .v-label-validationLabel {
        display: none;
      }

      .property {
        display: grid;
        grid-template-columns: 250px 1fr 30px;
        align-items: center;
        position: relative;

        // normalize styling
        .v-textfield, .v-filterselect, .v-filterselect-input, .v-button {
          height: auto;
          width: 100%;
          border-radius: 0;
          border-color: #e1e5e8;
        }
        .v-filterselect-input {
          background: transparent;

          .v-filterselect-button::before {
            position: static;
            display: flex;
            margin: 0;
            line-height: unset;
            justify-content: space-around;
          }
        }

        .propertyLabel {
          margin-right: 10px;
          line-height: 1.33;
          vertical-align: baseline;
        }
      }

      .property {
        margin-left: 15px;
      }

      .propertyGroupLabel {
        display: grid;
        grid-template-columns: auto 30px;
        position: relative;

        margin-left: 15px;
        font-weight: bold;
      }

      // panel action
      .property-action {
        display: flex;
        justify-content: end;
        height: auto !important;
        border: 1px solid silver;
        padding: 10px;

        // ignore .v-slots and .v-spacings
        & > * {
          display: contents;
        }

        .v-slot-itemGroupInfoLabel * {
          flex: 1;
          padding: 0;
          align-self: center;
        }

        .v-label-itemGroupInfoLabel:empty {
          display: none;
        }

        .v-nativebutton-profile_save[disabled] {
          background-color: #cccccc;
        }

        .v-nativebutton-profile_save {
          color: white;
          background-color: $ok-button-color;
          border: none;
          height: 32px;
          text-align: center;
        }
        .v-nativebutton-profile_reset {
          color: white;
          background-color: #cccccc;
          border: none;
          height: 32px;
          text-align: center;
          margin-left: 10px;
        }

        v-nativebutton-profile_reset:hover {
          background: $cancel-button-color;
        }

        .v-caption-form_success > span {
          color: #9ACA40;
        }
        .v-caption-form_error > span {
          color: red;
        }
      }

      // tc-list grid
      .profileItemSelectionBar {
          background-color: $item-menu-background-color;
          height: 100%;
          display: flex;
          flex-flow: column nowrap;
      }

      .profileItemFilter {
          margin-top: 20px;
          margin-left: 10px;
          width: calc(100% - 25px);
      }

      .v-slot-profileItemFilterStatus {
        margin-right: 17px;
        margin-bottom: -30px;
        text-align: right;
        font-size: small;
        color: #b3b3b3;
      }

      // itemgroup panel

      :last-child > .itemGroupPanel {
        border-bottom: none;
      }
      .itemGroupPanel {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        border-top: 2px solid var(--section-color);
        padding: 15px 0;

        & > * {
          margin-bottom: 4px;
        }

        .itemGroupHeader {
          display: grid;
          grid-template-columns: auto 30px;
          position: relative;

          margin-left: 15px;
          color: #000;
          font-weight: bold;
        }
      }
    }
  }

  .profile-references {
      .v-panel-caption label::before {
        border: none !important;
        background: none !important;
      }

      .v-panel-caption label::after {
        visibility: hidden;
      }

    .references-panel {
      height: 100%;
      width: 100%;

      .referenceComponents {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        margin-bottom: 1em;

        .referenceComponent {
          display: block;

          &.reference-start {
            border-top: 1px solid var(--section-color);
          }
          &:last-child {
            border-bottom: 1px solid var(--section-color);
          }


          &:not(.reference-start) {
            padding-left: 3ch;

            .referenceItem .referenceItemLink {
              font-style: italic;

              &:not(:hover) {
                color: gray;
              }
            }
          }

          .referenceComponentCaption {
            display: block;

            &:hover {
              color: #000;
            }


            // disable empty elements that act as unwanted spacers
            &::before,
            &::after {
              display: none;
            }

            .v-button-wrap {
              display: grid;
              grid-template: "caption icon" / 1fr auto;
            }

            .v-button-caption {
              grid-area: caption;
              margin: 0;
              text-align: left;
              font-weight: bold;
            }

            .v-icon {
              grid-area: icon;
              filter: saturate(0) opacity(.2);
              transition: filter .25s ease-in-out;
            }
            &:hover .v-icon {
              filter: saturate(1) opacity(.5);
            }
           .v-icon:hover {
              filter: saturate(1) opacity(1);
            }
          }

          .referenceLine {
            display: block;

            .referenceItem {
              display: grid;
              grid-template-columns: 1fr auto;
              justify-items: start;

              .referenceItemLink {
                width: 100%;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: left;
                text-decoration: none;
                color: #000;
              }
              .referenceItemLink:hover {
                text-decoration: underline;
              }
            }

            &.subline-content {
              padding-left: 1ch;

              .v-button {
                font-weight: 300;
              }
            }
          }
          &.has-subline-content .referenceLine:not(.subline-content) .v-label {
            font-weight: bolder;
          }
        }
      }
    }
  }


  .otc-popup .content.reference-popup {
    display: flex;
    flex-flow: column nowrap;
    padding: 0;

    .filterLine {
      padding: 0 2ch;
    }

    .selectAll {
      margin: 0 2ch 8px;
    }

    .table {
      border: 2px solid var(--primary-blue);
      border-width: 2px 0;
      padding: 1ex 2ch;

      .v-grid {
        background: transparent;
      }
      .v-grid-tablewrapper {
        border: none;
      }

      .v-grid-row > td {
        border: none;
        padding: 0;
        background: transparent;
        font-weight: normal;

        &::before {
          content: none; // disable v-grid-cell-focused styling
        }
      }

      .v-checkbox {
        padding-right: 8px;
      }
    }
  }

  // colored dots before captions
  .profiles-overview .overviewPanel .caption,
  .item-view .settings-caption,
  .item-view .references-caption-wrap {
    position: relative;

    &::before {
      content:"";
      position: absolute;
      top: calc(50% - 4px);
      left: 6px;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: var(--section-color);
    }
  }


  // pretty checkboxes
  .overviewPanel .v-checkbox,
  .reference-popup .v-checkbox {
    label {
      padding-left: 8px;
    }
  }

  // filter input element
  .overviewPanel .filterLine,
  .reference-popup .filterLine {
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-top: none;
    margin-bottom: 1em;

    &::before {
      content: "";
      height: 19px;
      width: 19px;
      background: url("/VAADIN/themes/openthinclient/icon/filter.svg") center/cover;
    }

    input {
      height: 100%;
      width: 100%;
      border: none;
    }
  }

  .profiles-overview {
    display: flex; // IE fallback
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(42ch, 1fr));
    grid-gap: 2ch;
    height: 100%;
    overflow: hidden;

    & > *:not(:last-child) {
      margin-right: 2ch;
    }

    .overviewPanel {
      display: flex;
      flex-flow: column nowrap;
      border: none;
      max-width: 75ch;
      max-height: 100%;
      overflow: hidden !important;

      .caption .create-new {
        position: relative;
        padding: 3px .5ch 3px 3ch;
        color: #000;
        background: #e3e3e3;

        &::before {
          content: "\e7fe";
          font-family: "Vaadin-Icons";
          position: absolute;
          left: 1ch;
          color: #00b400;
        }
      }

      .content {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      .filterLine {
        padding: 0 6px;
      }

      .actionLine {
        display: flex;
        padding: 0 8px 8px 6px;

        & > :first-child {
          flex: 1;
        }

        .v-button {
          height: auto;
          width: auto;
        }

        .addNew {
          color: #03ab00;
        }

        .deleteProfile {
          color: #e0061e;
        }
      }

      .table {
        max-height: 100%;
        width: calc(100% - 14px);
        border: 2px solid var(--section-color);
        border-width: 2px 0;
        padding: 1ex 0;
        margin: 0 6px;
        overflow: auto;

        .columns {
          display: flex;

          * {
            overflow: hidden;
          }

          .v-checkbox {
            flex-shrink: 0;
          }

          .v-button {
            flex: 1;
            line-height: 19px;
            padding: 0;
            color: inherit;

            &:before {
              display: none;
            }

            &:hover {
              color: #000;

              .name {
                text-decoration: underline;
              }
            }

            .v-button-caption {
              display: flex;

              .name {
                flex-shrink: 0;
                max-width: 100%;
                text-overflow: ellipsis;
              }

              .description {
                padding-left: 8px;
                font-style: italic;
                color: #aaa;
                text-overflow: ellipsis;
                text-overflow: "...)"; // only for FF

                &::before {
                  content: "(";
                }
                &::after {
                  content: ")";
                }
              }
            }

            &.client {
              .v-button-caption {
                padding-right: 18ch;

                .mac {
                  position: absolute;
                  right: 0;
                  font-family: 'Courier New', Courier, monospace;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
  }

  .logview {
    .logline {
      white-space: pre;
      line-height: 1.33;
      // source: https://css-tricks.com/snippets/css/font-stacks/
      font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    }
    .DEBUG {
      color: #888
    }
    .WARN {
      background: #fffff0;
    }
    .ERROR {
      background: #fff0f0;
    }
    .message {
      display: grid;
      justify-content: center;
      align-content: center;
      height: 100%;
    }
  }
}

@mixin thinclients-view-small {
  .profilePanel {
    padding-right: 36px;
  }

  .profile-references {
    position: absolute;

    .references-caption > * {
      position: fixed;
      margin-top: calc(-1 * var(--min-height));
      right: 0px;
      transform: rotate(270deg);
      transform-origin: bottom right;
      transition: right .3s ease-out;
    }

    .references-panel {
      position: fixed;
      width: 300px;
      right: -300px;
      height: calc(100% - $header-height - 2 * 18px);
      background: white;
      transition: right .3s ease-out;
    }
  }

  .expanded {
    .profilePanel {
      opacity: .33;
    }

    .profile-references {
      .references-caption > * {
        right: 300px;
      }

      .references-caption::before {
        content: "";
        position: fixed;
        top: $header-height;
        left: $menu-width;
        bottom: 0;
        right: 0;
        background: #222;
        opacity: .6;
      }

      .references-panel {
        position: fixed;
        right: 0;
      }

    }

  }
}
