@mixin update-view {
  .v-panel .updateview {
    display: grid;
    margin: 2ch;

    & > * {
      margin-bottom: 2ch;
    }

    .wikilinks {
      display: grid;
      border-top: 1px solid #ddd;
      padding-top: 1ch;

      a:after {
        content: " \e7de";
        font-family: "Vaadin-Icons";
      }
    }
  }
}
