<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- where to store log files-->
    <property name="LOG_PATH" value="${manager.home}/logs"/>

    <!-- import some spring boot defaults -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!-- main log file -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/openthinclient-manager.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/openthinclient-manager.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- log to file and console all INFO and up -->
    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Atomikos ist sehr gesprächig -->
    <!--<logger name="com.atomikos">-->
        <!--<level value="WARN" />-->
    <!--</logger>-->

    <!--
        Logger and Appender for user import logging
    -->
    <!--<appender name="syslogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<encoder>-->
            <!--<pattern>%d %-5p %X{hostname} %X{peer} %c{1} %m%n</pattern>-->
        <!--</encoder>-->
        <!--<file>${LOG_PATH}/syslog.log</file>-->
        <!--&lt;!&ndash;<rollingPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">&ndash;&gt;-->
            <!--&lt;!&ndash;<fileNamePattern>${LOG_PATH}/syslog.%d{yyyy-MM-dd}.log</fileNamePattern>&ndash;&gt;-->
            <!--&lt;!&ndash;<maxFileSize>10MB</maxFileSize>&ndash;&gt;-->
        <!--&lt;!&ndash;</rollingPolicy>&ndash;&gt;-->
    <!--</appender>-->
    <appender name="syslogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <!--<pattern>${FILE_LOG_PATTERN}</pattern>-->
            <pattern>%d %-5p %X{hostname} %X{peer} %c{1} %m%n</pattern>
        </encoder>
        <file>${LOG_PATH}/syslog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/syslog.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>365</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="EventLogger">
        <level value="DEBUG" />
        <appender-ref ref="syslogAppender"/>
    </logger>


</configuration>
