<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- where to store log files-->
    <property name="LOG_PATH" value="${manager.home}/logs"/>

    <!-- import some spring boot defaults -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!-- main log file -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/openthinclient-manager.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH}/openthinclient-manager.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>19</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>25MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <!-- log to file and console all INFO and up -->
    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- log file for events received by syslog -->
    <appender name="syslogAppender" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>filename</key>
            <defaultValue>-</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${filename}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <encoder>
                    <pattern>%d %-5p %X{hostname} %X{peer} %m%n</pattern>
                </encoder>
                <file>${LOG_PATH}/syslog/${filename}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <fileNamePattern>${LOG_PATH}/syslog/${filename}.%i.log.zip</fileNamePattern>
                    <minIndex>1</minIndex>
                    <maxIndex>3</maxIndex>
                </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <maxFileSize>2MB</maxFileSize>
                </triggeringPolicy>
            </appender>
        </sift>
    </appender>

    <!-- audit log -->
    <appender name="auditlogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %m%n</pattern>
        </encoder>
        <file>${LOG_PATH}/audit.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH}/audit.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>9</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <!-- log all events, avoiding the main log file -->
    <logger name="EventLogger" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="syslogAppender"/>
    </logger>

    <logger name="Audit" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="auditlogAppender"/>
    </logger>

    <!--<logger name="org.openthinclient.ldap.TypeMapping" level="DEBUG" />-->

    <logger name="org.apache.directory" level="OFF"/>

</configuration>
