<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- where to store log files-->
    <property name="LOG_PATH" value="${manager.home}/logs"/>

    <!-- console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- log to file and console all INFO and up -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
