@mixin mainmenu {
  #mainmenu {
    border: none;
    color: #fff;
    background: #2b2e33;

    .valo-menu-part {
      display: flex;
      flex-flow: column nowrap;
      min-width: 240px !important;
      padding: 0;
    }

    .logo-button {
      min-height: $header-height;
      width: 100% !important;
      background: #0064a2;
      margin: 0;
      padding: 4% 8% 2% 8%;
    }

    --section-color: cyan;

    .dashboardview {
      --section-color: #2db200;
    }
    .clientview {
      --section-color: #1ca6e7;
    }
    .applicationview {
      --section-color: #8500b3;
    }
    .userview {
      --section-color: #00b2b2;
    }
    .deviceview {
      --section-color: #ff5d26;
    }
    .printerview {
      --section-color: #8c4600;
    }
    .hardwaretypeview {
      --section-color: #8c4600;
    }
    .locationview {
      --section-color: #ffff00;
    }
    .filebrowserview {
      --section-color: #006600;
    }


    .valo-menu-item {
      display: flex;
      align-items: center;
      min-height: 30px;
      margin-top: 10px;
      border-left: 8px solid transparent;
      padding: 4px 0px 4px 50px;
      overflow: visible;
      white-space: normal;
      font-size: 16px;
      line-height: 24px;

      .v-icon {
        position: absolute;
        top: 4px;
        left: 10px;
        max-height: 30px;
        width: 30px;
      }

      .valo-menu-item .v-icon + .valo-menu-item-caption {
          margin-left: 0;
      }

      &.selected {
        background: #000;
        border-color: var(--section-color);

        &.has-items::after {
          content: "+";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 20px;
          line-height: 28px;
          text-align: center;
          background: #00b100;
        }
      }
    }

    // item list
    .v-grid-tablewrapper {
      border: 0;
    }

    .profileSelectionGrid {
      td.v-grid-cell {
        border: 0;
        padding-left: 55px;
        font-size: 12px;
        line-height: 23px;
        background: #191a1e;
        color: #747474;

        &::before, &::after {
          content: "";
          position: absolute;
          background: #2a2d32;
        }

        &::before {
          width: 1px;
          height: 100%;
          left: 24px;
        }

        &::after {
          width: 9px;
          height: 9px;
          top: calc(50% - 3px);
          left: 20px;
          border-radius: 50%;
          z-index: 1;
        }
      }

      tr:first-child td.v-grid-cell::before {
        height: 50%;
        top: 50%;
      }

      tr:last-child td.v-grid-cell::before {
        height: 50%;
        bottom: 50%;
      }

      tr.v-grid-row-selected {
        & > td.v-grid-cell::after {
          display: inline-block;
          background: var(--section-color);
        }
        & > td.v-grid-cell {
          color: #fff;
        }
      }

      // fix/overwrite valo default style
      td.v-grid-cell-focused::before {
          display: inline-block;
          border: none;
      }
    }
  }
}
