@mixin mainmenu {
  #mainmenu {
    border: none;
    margin-top: $header-height;
    height: calc(100% - $header-height);
    color: #fff;
    background: #2b2e33;

    .valo-menu-part {
      display: flex;
      flex-flow: column nowrap;
      min-width: 240px !important;
    }

    > :first-child {
      padding-top: 16px;
    }

    // logo
    &::before {
      content: "";
      height: $header-height;
      width: 100%;
      position: absolute;
      top: 0;
      background: url(logo.svg) center 16px / 82% auto no-repeat, white;
    }

    .valo-menu-item {
      display: flex;
      align-items: center;
      min-height: 40px;
      padding: 4px 0px 4px 50px;
      overflow: visible;
      white-space: normal;
      line-height: 1.25;

      .v-icon {
        position: absolute;
        top: 10px;
        left: 16px;
        max-height: 20px;
        width: 20px;
      }

      .valo-menu-item .v-icon + .valo-menu-item-caption {
          margin-left: 0;
      }

      &.selected {
        background: #000;
      }
    }

    // item list
    .v-grid-tablewrapper {
      border: 0;
    }

    .profileSelectionGrid {
      .v-grid-cell {
        border: 0;
        padding-left: 55px;
        font-size: 12px;
        background: #191a1e;
        color: #747474;
      }

      .v-grid-cell-focused{
        //color: #fff;
        &::before {
          display: none;
        }
      }

      .v-grid-row-selected > td {
        color: #fff;
      }

    }
  }
}
