@mixin mainmenu {
  .valo-menu {
    border-right: none;

    .badgewrapper {
      position: relative;
      padding: 0 !important;
    }

    .v-ddwrapper {
      display: block;
    }
  }

  .valo-menu-title {
    line-height: 1.2;
  }

  .valo-menu-subtitle {
    color: #509dc9;
    margin: 20px 0px 6px 50px;
    font-weight: bold;
    border-bottom: none;
  }

  .valo-menu-item {
    min-height: 32px;
    padding: 4px 0px 4px 50px;
    overflow: visible;
    white-space: normal;
    line-height: 1.25;
  }

  .valo-menu-item.selected {
    background: #e6eff6;
    @include linear-gradient(90deg, #5099c6 4px, #e6eff6 4px, #e6eff6);
  }

  .valo-menu-item .v-icon {
    position: absolute;
    top: 10px;
    left: 16px;
    max-height: 20px;
    width: 20px;
  }

  .valo-menu-item .v-icon + .valo-menu-item-caption {
      margin-left: 0;
  }

  [width-range~="0-800px"] {
    .valo-menu-title {
      @include valo-gradient($color: $valo-menu-background-color);
      border-bottom-color: first-color(valo-border($color: $valo-menu-background-color));
    }
  }

  [width-range~="801px-"] {
    .valo-menu-title {
      background: transparent;
      @include box-shadow(none);
      border-bottom: none;
    }
  }
}