@import "passwordfield";
@import "../valo/valo";
@import "common";
@import "combobox";
@import "mainmenu";
@import "header";
@import "views/thinclients";
@import "views/license";
@import "views/login";
@import "views/dashboard";
@import "views/packages";
@import "views/filebrowser";
@import "views/update";
@import "views/importexport";

// Main layout padding
$view-padding: round($v-unit-size / 1.5) !default;
$view-padding: 21px !default;

$header-height: 50px;
$menu-width: 340px;


// set sensible Valo theme defaults

$v-app-loading-text: "openthinclient";

$v-background-color: #f9f9f9;
$v-app-background-color: #fff;
$valo-menu-background-color: #444;

$v-focus-color: #e6eff6;
$v-selection-color: #5099c6;

$v-border-radius: 0px;
$v-border: 1px solid #e1e5e8;

$v-font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", "DejaVu LGC Sans", Geneva, sans-serif;
$v-font-size: 14px;
$v-font-size-headline: 18px;
$v-line-height: 26px;

// disable all shadows and gradients
$v-bevel: false;
$v-textfield-bevel: false;
$v-shadow: false;
$v-gradient: none;

// disable focus outline/border
$v-focus-style: none;

html {
  scrollbar-color: #000 #e7e9e8;
  ::-webkit-scrollbar {
    width: auto;
  }
  ::-webkit-scrollbar-thumb {
    background: #000 !important;
    border-radius: 0 !important;
  }
  ::-webkit-scrollbar-track {
    background: #e7e9e8 !important;
  }

  --primary-blue: #0064a2;
}

a {
  color: var(--primary-blue);
  font-weight: bolder;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
  }
}
b {
  font-weight: bold;
}

@keyframes makeVisible {
	to {
		visibility: visible;
	}
}

.openthinclient {
  p {
    font-weight: normal;
    max-width: 75ch;
  }
  .v-label.v-label-undef-w,
  .v-captiontext {
    white-space: normal;
  }
  .v-widget.v-button {
    height: auto;
  }
  .v-grid {
    background: #fff;
  }
  @include valo;
  @include common;
  @include combobox;
  @include mainmenu;
  @include header;
  @include thinclients-view;
  @include license-view;
  @include login-view;
  @include dashboard-view;
  @include packages-view;
  @include filebrowser-view;
  @include update-view;
  @include importexport-view;
}

@media (max-width: 1216px) {
  .openthinclient {
    @include thinclients-view-small;
  }
}
