@import "thinclients.css";

@import "passwordfield";
@import "../valo/valo";
@import "common";
@import "combobox";
@import "mainmenu";
@import "header";
@import "views/thinclients";
@import "views/license";
@import "views/login";
@import "views/dashboard";
@import "views/packages";
@import "views/filebrowser";
@import "views/update";
@import "views/importexport";
@import "views/logfiles";

// Main layout padding
$view-padding: round($v-unit-size / 1.5) !default;
$view-padding: 21px !default;

$header-height: 50px;
$menu-width: 340px;


// set sensible Valo theme defaults

$v-app-loading-text: "openthinclient";

$v-background-color: #f9f9f9;
$v-app-background-color: #fff;
$valo-menu-background-color: #444;

$v-focus-color: #e6eff6;
$v-selection-color: #5099c6;

$v-border-radius: 0px;
$v-border: 1px solid #e1e5e8;

$v-font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", "DejaVu LGC Sans", Geneva, sans-serif;
$v-font-size: 14px;
$v-font-size-headline: 18px;
$v-line-height: 26px;

// disable all shadows and gradients
$v-bevel: false;
$v-textfield-bevel: false;
$v-shadow: false;
$v-gradient: none;

// disable focus outline/border
$v-focus-style: none;

html {
  scrollbar-color: #000 #e7e9e8;
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-thumb {
    background: #000 !important;
  }
  ::-webkit-scrollbar-track {
    background: #e7e9e8 !important;
  }

  --primary-blue: #0064a2;
}

a {
  color: var(--primary-blue);
  font-weight: bolder;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
  }
}
b {
  font-weight: bold;
}

@keyframes makeVisible {
	to {
		visibility: visible;
	}
}

.openthinclient {
  background: url(/VAADIN/themes/openthinclient/bg.png) center / cover;
  p {
    font-weight: normal;
    max-width: 75ch;
  }
  .v-label.v-label-undef-w,
  .v-captiontext {
    white-space: normal;
  }
  .v-widget.v-button {
    height: auto;
  }

  // round checkboxes
  :root & .v-widget.v-checkbox,
  :root & .v-grid-selection-checkbox,
  :root & .v-grid-select-all-checkbox {
    & > input ~ label {
      padding-left: 8px;
      cursor: default;
    }
    & > input ~ label::before {
      border-radius: 50%;
      background: #eef0ef;
    }
    & > input:not(:disabled) ~ label:hover::before {
      border: 2px solid #ccc;
    }
    & > input:focus ~ label::before {
      border: 1px solid #ccc;
    }
    & > input:active ~ label::after {
      background: none;
    }
  }

  :root & .v-widget.v-checkbox {
    padding-left: 19px;
  }

  // add style to grid selection checkboxes
  // (mostly copied from .v-checkbox style)
  :root & .v-grid-selection-checkbox > input,
  :root & .v-grid-select-all-checkbox > input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    z-index: 0;
    margin: 0;
    visibility: hidden;

    // mis/reuse aria label
    & ~ label {
      position: relative;
      top: calc(50% - 10px);
      left: unset;
      display: inline-block;
      box-sizing: border-box;
      width: 19px;
      color: transparent;
    }
    & ~ label:before,
    & ~ label:after {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: 19px;
      height: 19px;
      line-height: 20px;
      font-size: 11px;
      text-align: center;
    }
    & ~ label::before {
      content: "";
      border: 1px solid #e1e5e8;
      padding: 0;
      font-weight: 400;
      color: #191919;
    }
    & ~ label::after {
      content: "\f00c";
      font-family: ThemeIcons;
      color: transparent;
      transition: color 100ms;
    }
    &:checked ~ label:after {
      color: #5099c6;
    }
  }

  .v-grid {
    background: #fff;
  }
  @include valo;
  @include common;
  @include combobox;
  @include mainmenu;
  @include header;
  @include thinclients-view;
  @include license-view;
  @include login-view;
  @include dashboard-view;
  @include packages-view;
  @include filebrowser-view;
  @include update-view;
  @include importexport-view;
  @include logfiles-view;
}

@media (max-width: 1216px) {
  .openthinclient {
    @include thinclients-view-small;
  }
}
